@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Roboto+Slab');

html,body{
  max-width: 100%;
  max-height: 100%;
  font-family: 'Josefin Sans', serif;  
  color: white;
  background-color: #2c3e50;
  letter-spacing: 0.2px;
}

a{
  text-decoration: none;
  color: #f1c40f;
  padding-bottom: 1px;
}

a:hover{
  border-bottom: 1px solid #f1c40f;
  border-bottom-style:dotted;
}

.container{ 
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  -webkit-font-smoothing: antialised;
  -text-rendering: optimizeLegibility;
  max-width: 960px;
}

#header{
  line-height: 35px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 800px;
}

#header h1{
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  letter-spacing: 0.3px;  
  color: white;
}
.border{
  width: 230px;
  border-bottom: 2px solid #f1c40f;
  padding-bottom: 10px;
  border-bottom-style: dotted;
}

#header #blurb{
  font-size: 18px;
}

#projects{
  margin-top: 40px;
  font-size: 18px;
  padding-right: 20px;
  max-width: 800px;
}

#projects li{
  list-style-type: none;
  margin-left: -20px;
  margin-bottom: 30px;
  line-height: 35px;
}

#title{
  font-weight: bold;  
  color: white;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.5px;
}

#skills{
  font-family: 'Source Code Pro', sans-serif;
  font-size:12px;
  display: inline;
  margin-left: 0;
  padding-right: 15px;
  padding-left: 10px;
  margin-right: 10px; 
  border-radius: 2px;
  color: black;
  background-color: #f1c40f;
}

#footnote{
  max-width: 800px;
  font-family: 'Scope One', serif;
  font-size: 18px;
  margin-top: 50px;
  line-height: 35px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}