@import url('https://fonts.googleapis.com/css?family=Yrsa');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html,body{
  max-width: 100%;
  max-height: 100%;
  font-family: 'Yrsa', sans-serif;
  color: #ecf0f1;
  background-color: #202020;
  letter-spacing: 0.2px;
}

a{
  text-decoration: none;
  color: #3498db;
  padding-bottom: 1px;
}

a:hover{
  border-bottom: 1px solid #3498db;
}

.container{ 
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  -webkit-font-smoothing: antialised;
  -text-rendering: optimizeLegibility;
  max-width: 960px;
}

#header{
  line-height: 35px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 800px;
}

#header h1{
  font-size: 30px;
  letter-spacing: 0.3px;  
  color: #3498db;
}
#header #blurb{
  font-size: 18px;
}

#projects{
  margin-top: 40px;
  font-size: 18px;
  padding-right: 20px;
  max-width: 800px;
}

#projects li{
  list-style-type: none;
  margin-left: -20px;
  margin-bottom: 30px;
  line-height: 35px;
}

#title{
  font-weight: bold;  
  color: #3498db;
  letter-spacing: 0.5px;
}

#skills ul{
  list-style-type: none;
  margin:0;
  padding: 0;
}

#skills li{
  font-family: 'Source Code Pro', sans-serif;
  font-size:12px;
  display: inline;
  margin-left: 0;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #3498db;
  border-radius: 2px;
  color:#3498db;
}

#footnote{
  max-width: 800px;
  font-family: 'Yrsa', sans-serif;
  font-size: 18px;
  margin-top: 50px;
  line-height: 35px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}