html{border-top: 1px solid #3498db;}
@font-face{
	font-family: 'Avenir';
	src: url('/assets/Fonts/AvenirNext.otf');
}
h3{color: #191919;}
img{height: 300px;}
.contact{margin-bottom: 5%;}
.header{font-family: 'Avenir';}
.header-padding{margin-top: 5px;}
.description{color: #323232;}
.description-padding{margin-top: 10px; text-align: justify;font-family: 'Avenir'; font-size: 18px;}
.row-padding{margin-top: 20px;}
.section-padding{margin-top: 20px;}
#link{text-decoration: none; color: #323232; border-bottom: 2px dotted #7ECEFD;}
#link:hover{border-bottom: 3px solid #7ECEFD}
#link:visited{text-decoration: none;color: #323232; border-bottom: 1px solid #7ECEFD; }
.contact{font-family: 'Avenir';	font-size: 18px;}
#message{border: 1px solid #dbdbdb; width: 51%; margin-top: 10px;outline: none;}
#mail{font-size:12px;border: 1px solid #4169e1; background-color: white;color: #4169e1;outline: none; width: 13.5%; text-align: center;margin-left: 10px; height: 4%;}
#mail:hover{border: 1px solid #4169e1; background-color: #4169e1;color: white; transition:0.3s;outline: none;}
ul{list-style-type: none;margin-left: -45px;}
li{display:inline-block; margin-left: 20px;}
@media screen and (max-width:767px){
	img{margin-top: 20px;}
	.row-padding{margin-top: 0px;}
}

@media screen and (max-width: : 991px){
	.icon{margin-left: -20px;}
}	
