/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

/* Styles */
html,body{
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
}

#header{  
  background: linear-gradient(rgba(48, 79, 254, 0.9), rgba(66, 165, 245, 0.9)),url('header-image.jpeg') no-repeat center center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  height: 400px; 
  text-align: center;
  color: white;}
  #header .profile{ 
  margin-top: 50px;}
  #header .name{
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: -1px;
  word-spacing: 10px;
  padding-top: 20px;
  font-weight: lighter;}
  #header a{
  text-decoration: none;
  color: white;}
  #header .icons i{
  margin: 30px 12px;
  opacity: 0.5;
  transition-duration:0.3s;}
  #header .icons i:hover{
  opacity: 1;}
  #header .blurb{
  font-weight: 200;
  margin-top: 25px;}

#about{}
  #about .container{
  color: #202020;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  padding-top: 2em;
  text-align: left;}
  #about .description{ 
  width: 700px;}
  
  #about a{
  color: #202020;
  text-decoration: none;
  border-bottom: 1px solid #202020;
  transition-duration:0.25s;}
  #about a:hover{
  border-bottom: 2px solid #202020;}

#courses{}
  #courses .container{ 
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 35px;
  width: 500px;}

/* Responsive styles */
@media screen and (max-width:500px){
  html,body{
    overflow-x:hidden; 
  }

  #about .container{
  font-size: 13px;
  width: 300px;
  line-height: 30px;
  word-spacing: -0.2px;
  }

  #header .blurb{
  font-weight: 300;}
} 

@media screen and (max-width: 400px){
  html,body{
    overflow-x:hidden; 
  }

  #header .name{
    font-size: 30px;}
}